<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftBox</title>
    <link rel="stylesheet" href="{{ base_path() }}/css/style.css">
</head>
<body>
<header>GiftBox</header>
<nav>
    <a href="{{ url_for('Categorie') }}">Catégorie</a>
    <a href="{{ url_for('ListePrestation') }}">Prestation</a>
    <a href="{{ url_for('BoxGet') }}">Coffret</a>
    <a href="{{ url_for('Inscription') }}" id="Inscription">Inscription</a>
</nav>
<section id="main">
    {% block content %} {% endblock %}
</section>
<footer>© 2024 SuceBox</footer>
</body>
</html>
