{% extends "squelette.twig" %}
{% block content %}

<div class="container">
    <h1>La Catégorie {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    <h2>{{ description }}</h2>
    <ul class="presta-grid">
        {% for p in prestation %}
            <li>
                <a href="{{ url_for('Prestation') }}?id={{ p.id }}">
                    <img src="../img/{{ p.img }}" alt="{{ p.libelle }}">
                    <div class="presta-details">
                        <p>{{ p.libelle }}</p>
                        <p>Tarif: {{ p.tarif }} €</p>
                        <p>Catégorie: {{ p.categorie.libelle }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('Categorie') }}">Retour à la liste des catégories</a>
</div>
{% endblock %}
