{% extends "squelette.twig" %}
{% block content %}
    <div class="container">
        <h1>Affichage des données</h1>
        <div class="data">
            <p><span>Nom de la box:</span> {{ name }}</p>
            <p><span>Description:</span> {{ description }}</p>
            <p><span>Cadeau:</span> {{ kdo }}</p>
            <p><span>Message avec le cadeau:</span> {{ message }}</p>
        </div>
        <div class="data">
            <h2>Prestations dans la box:</h2>
            {% if prestations is empty %}
                <p>Aucune prestation ajoutée.</p>
            {% else %}
                <ul>
                    {% for prestation in prestations %}
                        <li>
                            <label>{{ prestation.libelle }}</label>
                            <span>Quantité : {{ prestation.pivot.quantite }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
